body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(137, 250, 218); */
  background: linear-gradient(
    to Left,
    rgb(51, 122, 102) 0%,
    rgb(137, 250, 218) 40%,
    rgb(137, 250, 218) 60%,
    rgb(51, 122, 102) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
